@use "../../styles/variables";

.cost-section {
    position:relative;
    .background-rocks {
        position:absolute;
        height:100%;
        width:auto;
        right:0;
        z-index:-1;
        opacity:0.2;
        overflow:hidden !important;

    }
    .wrapper {
        text-align:center;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-block:12rem;
        h2 {
            max-width:16ch;
            margin-block-end:2rem;
        }
        p {
            max-width:50ch;
        }
    }
}