@use "../../styles/variables";
@use "../../styles/reset";
@use "../../styles/fonts";
@use "../../styles/button";

.increased-value-section {
    background-color:white;
    position:relative;
    .background-rocks {
        position:absolute;
        height:100%;
        width:auto;
        right:0;
        z-index:-1;
        opacity:0.2;
        overflow:hidden !important;

    }

    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            max-width:55ch;
            text-wrap:balance;
            margin-block:1rem 2rem;
            color:variables.$black;
        }

        h2 {
            color: variables.$black;
        }
    }
    
}