@use "../../styles/variables";
@use "../../styles/reset";
@use "../../styles/fonts";
@use "../../styles/button";
@use "../../styles/header";
@use "../../styles/dropdown";
@use "../../styles/main";
@use "./increased-value";
@use "../../styles/heritage";
@use "../../styles/overlap-grid";
@use "../../styles/animations";
@use "../../services/styles/cta";
@use "../../styles/footer";


main {
    height:100vh;
    max-height:850px;

    .wrapper {
        h1 {
            span {

                .char {
                    color:variables.$red !important;
                }
            }
          
        }
        .line {
            width:100%;

        }
        .word {
            overflow:hidden;
            .char {
                transform:translateY(4rem);

            }
        }
       
    }
}
body {
    background-color:variables.$white;
    & > img {
        border:2px solid red;
        position:absolute;
        mix-blend-mode:multiply;
        opacity:0.05;
        // height:100%;
        width:100%;
        object-fit:cover;
        pointer-events:none;

    }
}
