@font-face {
  font-family: baron;
  src: url(../Baron-Neue-Black.ttf);
}
@font-face {
  font-family: inter;
  src: url(../Inter-Regular.ttf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
  scroll-behavior: smooth;
}

body {
  background-color: #030303;
  color: white;
  overflow-x: hidden;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 8rem 4rem;
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
}

.word,
.line,
.char {
  flex-wrap: none !important;
}

html,
body {
  overflow-x: hidden !important;
}

h1 {
  font-size: 60px;
  color: white;
  line-height: 60px;
  text-align: center;
  font-family: baron;
}
h1 span {
  color: #E2090B;
  text-align: center;
  font-family: baron;
}
h1 .char,
h1 .word,
h1 .line {
  font-size: 60px;
  color: white;
  line-height: 60px;
  text-align: center;
  font-family: baron;
}

h2 {
  font-size: 48px;
  color: white;
  line-height: 48px;
  text-align: center;
  font-family: baron;
}
h2 .char,
h2 .word,
h2 .line {
  font-size: 48px !important;
  line-height: 0px !important;
  text-align: center;
  font-family: baron;
}
h2 span {
  color: #E2090B;
  text-align: center;
  font-family: baron;
}
h2.h2 {
  max-width: 16ch;
  font-size: clamp(40px, 3.5vw, 48px) !important;
  line-height: clamp(48px, 4.2vw, 57.6px) !important;
}
h2.h2 .char,
h2.h2 .word,
h2.h2 .line {
  max-width: 16ch;
  font-size: clamp(40px, 3.5vw, 48px) !important;
  line-height: clamp(40px, 3.5vw, 48px) !important;
}

h3 {
  font-size: 32px;
  color: white;
  line-height: 32px;
  text-align: center;
  font-family: baron;
}
h3 span {
  color: #E2090B;
  text-align: center;
  font-family: baron;
}
h3 .char,
h3 .word,
h3 .line {
  font-size: 32px !important;
  line-height: 32px !important;
  text-align: center;
  font-family: baron;
}

p {
  font-size: 16px;
  color: white;
  line-height: 25.6px;
  text-align: center;
}
p.tagline {
  font-size: 14px;
  line-height: 22.4px;
  text-align: center;
  font-family: baron;
}
p .char,
p .word,
p .line {
  font-size: 16px;
  color: white;
  line-height: 22.4px;
  text-align: center;
}

h1 .word {
  overflow-y: hidden;
}
h1 .word .char {
  font-family: baron;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

h2 .word {
  overflow-y: hidden;
}
h2 .word .char {
  font-family: baron;
  font-size: 48px !important;
  line-height: 48px !important;
  text-align: center;
}

h3 .word {
  overflow-y: hidden;
}
h3 .word .char {
  font-family: baron;
  font-size: 32px !important;
  line-height: 22.4px !important;
  text-align: center;
}

@media (max-width: 1024px) {
  h2.h2 {
    max-width: 16ch;
    font-size: clamp(30px, 3.5vw, 40px) !important;
    line-height: clamp(36px, 4.2vw, 48px) !important;
  }
  h2.h2 .char,
  h2.h2 .word,
  h2.h2 .line {
    max-width: 16ch;
    font-size: clamp(30px, 3.5vw, 40px) !important;
    line-height: clamp(30px, 3.5vw, 40px) !important;
  }
}
@media (max-width: 855px) {
  h2.h2 {
    font-size: 40px !important;
    line-height: 48px !important;
  }
  h2.h2 .char,
  h2.h2 .word,
  h2.h2 .line {
    font-size: 40px !important;
    line-height: 40px !important;
  }
}
@media (max-width: 700px) {
  .wrapper p {
    font-size: 14px;
    line-height: 22.4px !important;
  }
  .wrapper p .char,
  .wrapper p .word,
  .wrapper p .line {
    font-size: 14px !important;
    line-height: 19.6px !important;
  }
  .wrapper h1 {
    font-size: clamp(33.6px, 8vw, 48px);
    line-height: clamp(33.6px, 10vw, 48px);
  }
  .wrapper h1.char, .wrapper h1.word, .wrapper h1.line {
    font-size: clamp(33.6px, 8vw, 48px);
    line-height: clamp(33.6px, 10vw, 48px);
  }
  .wrapper h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .wrapper h2 .char,
  .wrapper h2 .word,
  .wrapper h2 .line {
    font-size: 40px !important;
    line-height: 40px !important;
  }
  .wrapper h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .wrapper h3 .char,
  .wrapper h3 .word,
  .wrapper h3 .line {
    font-size: 20px !important;
    line-height: 20px !important;
  }
}
@media (max-width: 700px) and (max-width: 468px) {
  h2.h2 {
    font-size: clamp(28px, 8.25vw, 40px) !important;
    line-height: clamp(36px, 4.2vw, 48px) !important;
  }
  h2.h2 .char,
  h2.h2 .word,
  h2.h2 .line {
    font-size: clamp(28px, 8.25vw, 40px) !important;
    line-height: clamp(33px, 3.85vw, 44px) !important;
  }
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 2rem;
  font-family: baron;
  z-index: 100;
}
button:hover .slider .slide {
  transform: translateY(-1rem);
  transition: transform 200ms ease-in-out;
}
button .slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  max-height: 1rem;
}
button .slider .slide {
  font-family: baron;
  font-size: 14px;
  transition: transform 200ms ease-out;
}
button.primary-button {
  color: white;
  background-color: #E2090B;
  border: 2px solid #E2090B;
}
button.secondary-button {
  color: white;
  background-color: transparent;
  border: 2px solid #E2090B;
}
button span {
  display: flex;
  align-items: center;
  justify-content: center;
}
button span:nth-child(2) {
  font-family: baron;
}
@media (max-width: 500px) {
  button.primary-button {
    color: white;
    background-color: #E2090B;
    border: 2px solid #E2090B;
  }
  button.secondary-button {
    color: white;
    background-color: transparent;
    border: 2px solid #E2090B;
    padding: 1rem;
  }
}

header {
  position: fixed;
  z-index: 1000;
}
header .header-wrapper {
  padding: 1rem 4rem;
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .header-wrapper .nav-button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .header-wrapper .menu {
  display: none;
  width: 40px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  header {
    mix-blend-mode: difference !important;
  }
  header nav {
    display: none;
  }
  header .nav-button-container {
    display: none !important;
  }
  header .menu {
    display: block !important;
  }
  header .header-wrapper {
    justify-content: flex-end;
  }
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem;
  }
}

.dropdown {
  position: relative !important;
  display: none;
  z-index: 1000 !important;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 0.5rem);
  padding: 1.5rem;
  background-color: #262626;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: -moz-max-content;
  width: max-content;
  opacity: 0;
  transform: translateY(-1rem);
  transition: opacity 0.5s, transform 0.5s;
  pointer-events: none;
  gap: 2rem;
  border-radius: 0.5rem;
}

.dropdown-heading > a {
  font-weight: 700 !important;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown-links a {
  font-weight: 300 !important;
}

.div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu {
  width: 30px;
  display: none;
  cursor: pointer;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  transition: opacity 0.5s, transform 0.5s;
}

.menu + .dropdown-menu {
  padding-block: 2rem;
  display: none;
}

.dropdown-heading > p {
  font-weight: 700 !important;
}

.dropdown > a {
  font-weight: 300 !important;
}

@media (max-width: 1000px) {
  nav ul {
    display: none;
  }
  .dropdown {
    display: block;
  }
  .menu + .dropdown-menu {
    padding-block: 2rem;
    display: grid;
  }
  .menu {
    display: block;
  }
  nav {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 500px) {
  .header-wrapper {
    padding-inline: 1rem;
  }
  .dropdown-menu {
    grid-template-columns: 1fr;
  }
}
main .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-padding-before: 12rem;
          padding-block-start: 12rem;
  -webkit-padding-after: 14rem;
          padding-block-end: 14rem;
}
main .wrapper > .svg-wrapper svg {
  width: 28rem;
  width: max(22rem, 42vw);
  max-width: 650px;
}
main .wrapper p {
  max-width: 45ch;
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
  -webkit-margin-after: 4rem;
          margin-block-end: 4rem;
  text-wrap: balance;
}
main .background-rocks {
  position: absolute;
  width: 50%;
  right: 0;
  z-index: -1;
  opacity: 0.2;
}
@media (max-width: 500px) {
  main .wrapper > svg {
    width: 32rem;
    width: 100%;
    width: max(18rem, 75vw);
  }
}

.increased-value-section {
  background-color: white;
}
.increased-value-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.increased-value-section .wrapper p {
  max-width: 55ch;
  text-wrap: balance;
  margin-block: 1rem 2rem;
  color: #030303;
}
.increased-value-section .wrapper h2 {
  color: #030303;
}

.heritage-section {
  position: relative;
}
.heritage-section .background-rocks {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: -1;
  opacity: 0.2;
  -o-object-fit: cover;
     object-fit: cover;
}
.heritage-section .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;
}
.heritage-section .wrapper .restoration-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.heritage-section .wrapper .restoration-titles h2 {
  max-width: 20ch;
  text-align: center;
}
.heritage-section .wrapper .restoration-titles p {
  max-width: 56ch;
}

.overlap-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.overlap-card-grid .card-grid-item {
  position: relative;
}
.overlap-card-grid .card-grid-item:nth-child(1) {
  margin-right: -4rem;
  transform: translateX(2rem);
}
.overlap-card-grid .card-grid-item:nth-child(1)::after {
  content: "";
  width: 200%;
  position: absolute;
  inset: 0;
  z-index: 1000;
  background-image: linear-gradient(to top, #030303, rgba(3, 3, 3, 0) 25%);
}
.overlap-card-grid .card-grid-item:nth-child(2) {
  margin-left: -4rem;
}
.overlap-card-grid .card-grid-item:nth-child(2)::after {
  content: "";
  width: 200%;
  position: absolute;
  inset: 0;
  z-index: 1000;
  background-image: linear-gradient(to top, #030303, rgba(3, 3, 3, 0) 25%);
}
.overlap-card-grid .card-grid-item img {
  position: relative;
  width: 100%;
}
.overlap-card-grid .card-grid-item h3 {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  z-index: 1001;
  max-width: 16ch;
  text-align: left;
}
.overlap-card-grid .no-gradient::after {
  background-image: none !important;
}
@media (max-width: 700px) {
  .overlap-card-grid .card-grid-item h3 {
    position: absolute;
    bottom: 1rem;
    left: 1rem !important;
    z-index: 1001;
    max-width: 16ch;
    text-align: left;
  }
}

.cta-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 16rem;
}
.cta-section .wrapper p {
  max-width: 50ch;
  text-wrap: balance;
  margin-block: 1rem 2rem;
}

footer {
  position: relative;
}
footer .background-rocks {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer p {
  font-size: 14px;
}
footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  -webkit-padding-after: 4rem;
          padding-block-end: 4rem;
}
footer .wrapper .footer-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .wrapper .footer-top .footer-top-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .wrapper .footer-top .footer-top-left p {
  text-align: left;
  max-width: 50ch;
}
footer .wrapper .footer-top .footer-top-left form {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  width: 450px;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}
footer .wrapper .footer-top .footer-top-left form fieldset {
  border: none;
  display: flex;
  width: 100%;
}
footer .wrapper .footer-top .footer-top-left form fieldset input {
  border-radius: 2rem;
  padding: 0.5rem;
  flex: 1;
}
footer .wrapper .footer-top .footer-top-left form fieldset button {
  margin-left: -8rem;
}
footer .wrapper .footer-top .footer-top-left > svg {
  width: 200px;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
footer .wrapper .footer-top .footer-top-right {
  flex: 1 1 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-self: flex-end;
}
footer .wrapper .footer-top .footer-top-right ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 1 0;
}
footer .wrapper .footer-bottom {
  -webkit-border-before: 0.5px solid white;
          border-block-start: 0.5px solid white;
  width: 100%;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 4rem;
}
footer .wrapper .footer-bottom a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
footer .wrapper .footer-bottom a svg {
  width: 150px;
}
@media (max-width: 1000px) {
  footer .footer-top {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 4rem;
    width: 100%;
  }
  footer .footer-top .footer-top-right {
    width: 500px;
    align-self: flex-start !important;
  }
}
@media (max-width: 531px) {
  footer .footer-top {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 4rem;
    width: 100%;
  }
  footer .footer-top .footer-top-left {
    width: 100% !important;
  }
  footer .footer-top .footer-top-left form {
    width: 100% !important;
  }
  footer .footer-top .footer-top-left form fieldset {
    width: 100% !important;
  }
  footer .footer-top .footer-top-right {
    width: 100%;
  }
}
@media (max-width: 384px) {
  footer .wrapper form {
    margin-block: 2rem !important;
  }
  footer .wrapper form fieldset {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  footer .wrapper form fieldset input {
    width: 100%;
    padding: 0.5rem 1rem !important;
  }
  footer .wrapper form fieldset button {
    margin: 0 !important;
    padding: 0.5rem 1rem;
    width: 100%;
  }
  footer .wrapper .footer-top .footer-top-left {
    align-items: center;
  }
  footer .wrapper .footer-top .footer-top-left > svg {
    -webkit-margin-after: 3rem !important;
            margin-block-end: 3rem !important;
  }
  footer .wrapper .footer-top .footer-top-left p {
    text-align: center;
    max-width: 35ch;
    text-wrap: balance !important;
  }
  footer .wrapper .footer-top .footer-top-right {
    grid-template-columns: 1fr !important;
    place-items: center;
  }
  footer .wrapper .footer-top .footer-top-right ul {
    text-align: center;
    align-items: center;
    gap: 2rem;
  }
  footer .wrapper .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  footer .wrapper .footer-bottom a {
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */