@use "../../styles/variables";
@use "../../styles/reset";
@use "../../styles/fonts";
@use "../../styles/button";
@use "../../styles/header";
@use "../../styles/dropdown";
@use "../../styles/main";
@use "./increased-value";
@use "../../styles/heritage";
@use "../../styles/overlap-grid";
@use "../../styles/animations";
@use "../../services/styles/cta";
@use "../../styles/footer";


main {
    height:100vh;
    max-height:850px;

    .wrapper {
        h1 {
            span {

                .char {
                    color:variables.$red !important;
                }
            }
          
        }
        .line {
            width:100%;

        }
        .word {
            overflow:hidden;
            .char {
                transform:translateY(4rem);

            }
        }
       
    }
}
