@use "../../styles/variables";
@use "../../styles/reset";
@use "../../styles/fonts";
@use "../../styles/button";

.custom-services-section {
    background-color:variables.$white;
    position:relative;
    z-index:0;

    .background-rocks {
        position:absolute;
        height:100%;
        width:auto;
        right:0;
        z-index:-1;
        opacity:0.2;
        overflow:hidden !important;
    }
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:8rem;

        .services-titles {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                color: variables.$black;
            }

            p {
                max-width:50ch;
                text-wrap:balance;
                margin-block-start:2rem;
                color: variables.$black;

            }
        }
        .list-wrapper {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap:6rem;

            ul {
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap:4rem;

                li {
                    font-size:clamp(variables.$mobile-h2, 5vw, variables.$h2);
                    font-family:baron;
                    color: variables.$black;
                    text-align:center;
                    position:relative;

                    .line-cover {
                        position:absolute;
                        right:0;
                        top:0;
                        min-height:variables.$h2;
                        width:100%;
                        height:100%;
                        background-color:#ffffff9b;
                        transform-origin: right;
                    }
                }
            }
        }
    }

    @media(max-width:700px) {
        .wrapper {
            .list-wrapper {
                ul {
                    li {
                        font-size:clamp(variables.$mobile-h2 * 0.75, 10vw, variables.$mobile-h2);
                        line-height:clamp(variables.$mobile-h2 * 0.75 * 1.2, 10vw * 1.2, variables.$mobile-h2 * 1.2)
                    }
                }
            }
        }
    }
}