@use "../../styles/variables";
@use "../../styles/reset";
@use "../../styles/fonts";
@use "../../styles/button";
@use "../../styles/header";
@use "../../styles/dropdown";
@use "../../styles/main";
@use "./services";
@use "./whats-the-point";
@use "./cta";
@use "../../styles/footer";

main {
    height:100vh;
    max-height:850px;

    .wrapper {
        h1 {
            span {

                .char {
                    color:variables.$red !important;

                }
            }
          
        }
        .word {
            overflow:hidden;

            .char {
                transform:translateY(4rem);
            }
        }
       
    }
}
