@use "./variables";
@use "./reset";
@use "./fonts";
@use "./button";

main {
    .wrapper {
        .mask {
            .word {
                overflow:hidden;

                .char {
                    transform:translateY(-350%);
                }
            }
        }
        .svg-wrapper {
            overflow-y:hidden;

            & > svg {
                transform:translateY(-10rem);
            }
        }

        a {
            overflow:hidden;
            button {
                transform:translateY(-6rem);
            }
        }       
    }
}

.three-card-grid {
    .grid-item {
        .svg-mask {
            overflow-y:hidden;
            .icon {
            }
        } 
        .word {
            .char {
            }   
        }         
    }
}


.heritage {
    .wrapper {
        .restoration-titles {
            h2 {
                .word {
                    overflow-y:hidden;
                    
                }
            }
        }
    }
}
.overlap-card-grid {
    .card-grid-item {

        &:nth-child(1) {
            transform:translateY(2rem) translateX(6rem);

        }
        &:nth-child(2) {
            transform:translateX(-6rem);

        }
        img {
        }
    }
    
}

@media (max-width:885px) {
    .overlap-card-grid {
        .card-grid-item {
    
            &:nth-child(1) {
                transform:translateY(2rem) translateX(6rem);
    
            }
            &:nth-child(2) {
                transform:translateX(-6rem);
    
            }
            
        }
        
    }
}