@use "./variables";

button {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    padding:0.5rem 1rem;
    font-weight:700;
    // transition:opacity 500ms;
    cursor:pointer;
    border-radius:2rem;
    font-family:baron;
    // transition:300ms ease-in-out;
    z-index:100;

    &:hover .slider .slide {
        transform:translateY(-0.9rem);
        transition:transform 200ms ease-in-out;
    }

    .slider {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow:hidden;
        max-height:0.9rem;

        .slide {
            font-family:baron;
            font-size: variables.$tagline-font;
            transition:transform 200ms ease-out;
            

        }

    }

    &.primary-button {
        color:variables.$white;
        background-color:variables.$red;
        border:2px solid variables.$red;

    }
    &.secondary-button {
        color:variables.$red;
        background-color:transparent;
        border:2px solid variables.$red;
        

    }
    span {
        display:flex;
        align-items: center;
        justify-content: center;

        &:nth-child(2) {
            font-family: baron;
        }
    }

    @media (max-width:500px) {
        &.primary-button {
            color:variables.$white;
            background-color:variables.$red;
            border:2px solid variables.$red;
            span { 
                &:nth-child(2) {
                }
            }
        }
        &.secondary-button {
            color:variables.$white;
            background-color:transparent;
            border:2px solid variables.$red;
            padding:1rem;
            span {
                
                &:nth-child(2) {
                }
            }
        }
    }
}