@use "./variables";

.cta-section {
    background-image:url(../public/images/guernsey-flag-cta.png);
    height:90vh;
    background-size:cover;
    background-position:center;
    max-height:825px;
    .wrapper {
        display:grid;
        place-items:center;
        h2 {
            max-width:24ch;
            margin-block-end:2rem;
        }
    }
}