@use "./variables";

// Fonts

h1 {
    font-size:variables.$h1;
    color:white;
    line-height: variables.$h1;
    text-align:center;
    font-family: baron;


    span {
        color:variables.$red;
        text-align:center;
        font-family: baron;

    }
}

h2 {
    font-size:variables.$h2;
    color:white;
    line-height: variables.$h2;
    text-align:center;
    font-family: baron;


    span {
        color:variables.$red;
        text-align:center;
        font-family: baron;

    }
}
h3 {
    font-size:variables.$h3;
    color:white;
    line-height: variables.$h3;
    text-align:center;
    font-family: baron;


    span {
        color:variables.$red;
        text-align:center;
        font-family: baron;

    }
}
p {
    font-size:variables.$base-font;
    color:white;
    line-height: variables.$base-font * 1.6;
    text-align:center;


    &.tagline {
        font-size:variables.$tagline-font;
        line-height: variables.$tagline-font *1.6;
        text-align:center;
        font-family: baron;

    }
}

@media(max-width:700px) {
    .wrapper {
        p {
            font-size:variables.$mobile-base-font;
            line-height: variables.$mobile-base-font * 1.6 !important;
        }
        h1 {
            font-size:variables.$mobile-h1;
            line-height: variables.$mobile-h1 * 1.2;
        }
        h2 {
            font-size:variables.$mobile-h2;
            line-height: variables.$mobile-h2 * 1.2;
        }
        h3 {
            font-size:variables.$mobile-h3;
            line-height: variables.$mobile-h3 * 1.2;
        }
    }
}