@use "./variables";

// Fonts

h2 {
    font-size:variables.$h2;
    color:white;
    line-height: variables.$h2;
    text-align:center;
    font-family: baron;


    span {
        color:variables.$red;
        text-align:center;
        font-family: baron;

    }
}
h3 {
    font-size:variables.$h3;
    color:white;
    line-height: variables.$h3;
    text-align:center;
    font-family: baron;


    span {
        color:variables.$red;
        text-align:center;
        font-family: baron;

    }
}
p {
    font-size:variables.$base-font;
    color:white;
    line-height: variables.$base-font * 1.6;
    text-align:center;


    &.tagline {
        font-size:variables.$tagline-font;
        line-height: variables.$tagline-font *1.6;
        text-align:center;
        font-family: baron;

    }
}