@use "./variables";
@use "./reset";
@use "./fonts";
@use "./button";

footer {
    position:relative;
    
    .background-rocks {
        position:absolute;
        height:100%;
        width:auto;
        right:0;
        z-index:-1;
        opacity:0.2;
        overflow:hidden !important;

    }
    p {
        font-size:variables.$tagline-font;
    }
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:4rem;
        padding-block-end:4rem;

        .footer-top {
            width:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            .footer-top-left {
                flex:2;
                display:flex;
                flex-direction: column;
                align-items: flex-start;

                p {
                    text-align:left;
                    max-width:50ch;
                    
                }
                form {
                    margin-block-start:1rem;
                    width:450px;
                    margin-block-end:1rem;
                    fieldset {
                        border:none;
                        display:flex;
                        width:100%;

                        input {
                            border-radius:2rem;
                            padding:0.5rem;
                            // width:450px;
                            flex:1;
                        }
                        button {
                            margin-left:-8rem;
                        }
                    }
                }
                & > svg {
                    width:200px;
                    margin-block-end:2rem;
                }
            }
            .footer-top-right {
                flex:1 1 1;
                display:grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap:2rem;
                align-self:flex-end;

                ul {
                    display:flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap:1rem;
                    flex:1 1 0;

                    li {
                        color:variables.$black;
                    }
                }

            }
        }

        .footer-bottom {
            border-block-start:0.5px solid variables.$black;
            width:100%;
            color:variables.$white;
            display:flex;
            align-items: flex-end;
            justify-content: space-between;
            padding-top:4rem;

            a {
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                gap:0.5rem;
                svg {
                    width:150px;
                }
            }

        } 
    }
    @media (max-width:1000px) {
        .footer-top {
            flex-direction: column;
            align-items: flex-start !important;
            gap:4rem;
            width:100%;

            
            .footer-top-right {
                width:500px;
                align-self:flex-start !important;

            }
        }
    }
    @media (max-width:531px) {
        .footer-top {
            flex-direction: column;
            align-items: flex-start !important;
            gap:4rem;
            width:100%;

            .footer-top-left {
                width:100% !important;
                form {
                    width:100% !important;

                    fieldset {
                        width:100% !important;
                    }
                   
                }
            }

            

            
            .footer-top-right {
                width:100%;
            }
        }
    }
    @media(max-width:384px) {
        

        .wrapper {
            form {
                margin-block:2rem !important;

                fieldset {
                    flex-direction: column;
                    align-items: center;
                    gap:1rem;

                    input {
                        width:100%;
                        padding:0.5rem 1rem !important;
                    }
                    button {
                        margin:0 !important;
                        padding:0.5rem 1rem;
                        width:100%;
                    }
                }
            }
            .footer-top {

                .footer-top-left {
                    align-items: center;
                    & > svg {
                        margin-block-end:3rem !important;
                    }
                    p {
                        text-align:center;
                        max-width:35ch;
                        text-wrap:balance !important;
                    }
                }

                .footer-top-right {
                    grid-template-columns:1fr !important;
                    place-items: center;

                    ul {
                        text-align:center;
                        align-items: center;
                        gap:2rem;
                    }
                }
                
            } 
            .footer-bottom {
                flex-direction: column;
                align-items: center;
                gap:2rem;

                a {
                    align-items: center;
                }
            }

            
        }

        
    }
}