@use "./variables";

.green-section {
    background-color:variables.$red;
    color:white;
    position:relative;
    z-index:0;

    .wrapper {
        padding-block:18rem;
        display:flex;
        align-items: center;
        justify-content: center;
        h2 {
            color:white;
            max-width:32ch;
        }
        .badge {
            opacity:0.1;
            position:absolute;
            width:300px;
            z-index:-1;
        }
    }
}