@use "./variables";
@use "./reset";
@use "./fonts";
@use "./button";

header {
    .header-wrapper {
        padding:1rem 4rem;
        width:100%;
        max-width:1440px;
        display:flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display:flex;
            align-items: center;
            gap:2rem;
        }

        .nav-button-container {
            display:flex;
            align-items: center;
            gap:1rem;
        }
    }
}