@use "./variables";

.about-luke-section {
    background-color:variables.$white;
    position:relative;
   
    .wrapper {
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2 {
            max-width:25ch;
        }

        p {
            max-width:60ch;
            margin-block-start:2rem;
        }

        .overlap-card-grid {
            margin-block-start:8rem;
        }
    }
}