@use "./variables";
@use "./reset";
@use "./fonts";
@use "./button";
@use "./header";

main {
    overflow:hidden !important;
    max-height:1000px !important ;
    position:relative;



 
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-block-start:12rem;
        padding-block-end:14rem;
        overflow:hidden !important;
        position:relative;

        h1 {
            max-width:40ch;
        }

        & > .svg-wrapper {
            svg {
                width:28rem;
                width:max(22rem, 42vw);
                max-width:650px;
            }
        } 

        p {
            max-width:45ch;
            margin-block-start:2rem;
            margin-block-end:4rem;
            text-wrap:balance;

        }
    }

    .background-rocks {
        position:absolute;
        height:100%;
        width:auto;
        right:0;
        z-index:-1;
        opacity:0.2;
        overflow:hidden !important;

    }

 

   
    @media(max-width:500px) {
        .wrapper {

            .svg-wrapper {
                svg {
                    width:28rem;
                    width:max(16rem, 80vw);
                    max-width:650px;
                }
            }
            
        }
    }
   
}