@use "./variables";
@use "./reset";
@use "./fonts";
@use "./button";
@use "./header";

main {
    overflow:hidden !important;
    max-height:1000px !important ;
    position:relative;



 
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-block-start:12rem;
        padding-block-end:14rem;
        overflow:hidden !important;
        position:relative;

        h1 {
            max-width:32ch;
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            transition: clip-path 500ms ease;
        }

        // & > .svg-wrapper {
        //     svg {
        //         width:28rem;
        //         width:max(22rem, 42vw);
        //         max-width:650px;
        //     }
        // } 

        p {
            max-width:45ch;
            margin-block-start:1rem;
            margin-block-end:2rem;
            text-wrap:balance;
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            transition: clip-path 500ms ease;
        }
        button {
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            transition: clip-path 500ms ease;
        }
    }

  

 

   
    @media(max-width:500px) {
        .wrapper {

            .svg-wrapper {
                svg {
                    width:28rem;
                    width:max(16rem, 80vw);
                    max-width:650px;
                }
            }
            
        }
    }
   
}


.images-section {
    margin-top:-18rem;
    .wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap:2rem;
        padding-inline:0 !important;

        img {
            width:100%;
            height:200px;
            object-fit:cover;
        }
        @media (max-width:1024px) {
            gap:1rem !important;
        }
        @media (max-width:800px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media (max-width:325px) {
            grid-template-columns: 1fr 1fr;
        }
                
    }
}