@use "./variables";
@use "./reset";
@use "./fonts";
@use "./button";

.two-columns-section {
    background-color:variables.$light-black;
    .wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr;

        .column {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding-block:2rem;

            &:nth-child(1) {
                padding-right:2rem;
            }
            &:nth-child(2) {
                border-left:0.5px solid white;
                padding-left:2rem;
            }

           

            p {
                margin-block:1rem 2rem;
                max-width:48ch;
                text-wrap:balance;
            }
        }
    }

    @media (max-width:855px) {
        .wrapper {
            grid-template-columns: 1fr;
            gap:4rem;

            .column {
                &:nth-child(1) {
                    padding-right:0rem;
                }
                
                 &:nth-child(2) {
                    border-left:none;
                    padding-left:0rem;

                 }

                 p {
                    max-width:40ch;
                 }
            }
        }
    }
    @media (max-width:402px) {
        .wrapper {
            .column {
                padding-inline:0;
            }
        }
    }
}