$black:#030303;
$white:#ffffff;
$red:#31871D;
$base-font:16px;
$mobile-base-font:14px;
$h3:32px;
$mobile-h3: 20px;
$h2:48px;
$mobile-h2:32px;
$tagline-font:14px;
$h1:60px;
$mobile-h1:48px;
$light-black:#151515;
$h0:300px;

//#2d8c42
