$black: #030303;
$white: #ffffff;
$red: #31871d;
$light-green: #5dac4b;
$base-font: 16px;
$mobile-base-font: 14px;
$h3: 24px;
$mobile-h3: 20px;
$h2: 40px;
$mobile-h2: 32px;
$tagline-font: 14px;
$h1: 48px;
$mobile-h1: 40px;
$light-black: #151515;
$h0: 300px;

//#2d8c42
