@use "./variables";
@use "./reset";
@use "./fonts";
@use "./button";




.video-section {
    overflow:hidden !important;


    


    .wrapper {
        margin-top:-16.5rem;
   

        video {
            // background-color:variables.$white;
            border:2px solid variables.$white;

            width:100%;
            height:100vh;
            max-height:800px;
            object-fit:cover;
            scale:0.5;
            opacity:0;
            overflow:hidden !important;

        }
    }
}