@font-face {
  font-family: baron;
  src: url(../Baron-Neue-Black.ttf);
}
@font-face {
  font-family: inter;
  src: url(../Inter-Regular.ttf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

body {
  background-color: #030303;
  color: white;
  overflow-x: hidden;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 8rem 4rem;
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
}

h1 {
  font-size: 60px;
  color: white;
  line-height: 60px;
  text-align: center;
  font-family: baron;
}
h1 span {
  color: #E2090B;
  text-align: center;
  font-family: baron;
}

h2 {
  font-size: 48px;
  color: white;
  line-height: 48px;
  text-align: center;
  font-family: baron;
}
h2 span {
  color: #E2090B;
  text-align: center;
  font-family: baron;
}
h2.h2 {
  max-width: 16ch;
  font-size: clamp(40px, 3.5vw, 48px) !important;
  line-height: clamp(48px, 4.2vw, 57.6px) !important;
}

h3 {
  font-size: 32px;
  color: white;
  line-height: 32px;
  text-align: center;
  font-family: baron;
}
h3 span {
  color: #E2090B;
  text-align: center;
  font-family: baron;
}

p {
  font-size: 16px;
  color: white;
  line-height: 25.6px;
  text-align: center;
}
p.tagline {
  font-size: 14px;
  line-height: 22.4px;
  text-align: center;
  font-family: baron;
}

@media (max-width: 1024px) {
  h2.h2 {
    max-width: 16ch;
    font-size: clamp(30px, 3.5vw, 40px) !important;
    line-height: clamp(36px, 4.2vw, 48px) !important;
  }
}
@media (max-width: 855px) {
  h2.h2 {
    font-size: 40px !important;
    line-height: 48px !important;
  }
}
@media (max-width: 700px) {
  .wrapper p {
    font-size: 14px;
    line-height: 22.4px !important;
  }
  .wrapper h1 {
    font-size: clamp(33.6px, 8vw, 48px);
    line-height: clamp(40.32px, 12vw, 57.6px);
  }
  .wrapper h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .wrapper h3 {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 700px) and (max-width: 468px) {
  h2.h2 {
    font-size: clamp(28px, 8.25vw, 40px) !important;
    line-height: clamp(36px, 4.2vw, 48px) !important;
  }
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  transition: opacity 500ms;
  cursor: pointer;
  border-radius: 2rem;
  font-family: baron;
  transition: 300ms ease-in-out;
}
button.primary-button {
  color: white;
  background-color: #E2090B;
  border: 2px solid #E2090B;
}
button.secondary-button {
  color: white;
  background-color: transparent;
  border: 2px solid #E2090B;
}
button span {
  display: flex;
  align-items: center;
  justify-content: center;
}
button span:nth-child(2) {
  font-family: baron;
}
@media (max-width: 500px) {
  button.primary-button {
    color: white;
    background-color: #E2090B;
    border: 2px solid #E2090B;
  }
  button.primary-button span:nth-child(2) {
    display: none;
  }
  button.secondary-button {
    color: white;
    background-color: transparent;
    border: 2px solid #E2090B;
    padding: 1rem;
  }
  button.secondary-button span:nth-child(2) {
    display: none;
  }
}

header .header-wrapper {
  padding: 1rem 4rem;
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .header-wrapper .nav-button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .header-wrapper .menu {
  display: none;
  width: 40px;
}
@media (max-width: 1024px) {
  header nav {
    display: none;
  }
  header .nav-button-container {
    display: none !important;
  }
  header .menu {
    display: block !important;
  }
  header .header-wrapper {
    justify-content: flex-end;
  }
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem;
  }
}

main .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-padding-before: 8rem;
          padding-block-start: 8rem;
  -webkit-padding-after: 12rem;
          padding-block-end: 12rem;
}
main .wrapper > svg {
  width: 32rem;
  width: max(24rem, 45vw);
  max-width: 650px;
}
main .wrapper p {
  max-width: 45ch;
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
  -webkit-margin-after: 4rem;
          margin-block-end: 4rem;
  text-wrap: balance;
}
main .background-rocks {
  position: absolute;
  width: 50%;
  right: 0;
  z-index: -1;
  opacity: 0.2;
}
@media (max-width: 500px) {
  main .wrapper > svg {
    width: 32rem;
    width: 100%;
    width: max(18rem, 75vw);
  }
}

.three-card-grid-section {
  position: relative;
  background-color: white;
}
.three-card-grid-section .background-rocks {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.three-card-grid-section .three-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
}
.three-card-grid-section .three-card-grid .grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.three-card-grid-section .three-card-grid .grid-item h3 {
  color: #030303;
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  text-wrap: balance;
  max-width: 15ch;
  text-align: center;
}
.three-card-grid-section .three-card-grid .grid-item p {
  color: #030303;
  max-width: 28ch;
  text-wrap: balance;
}
@media (max-width: 1024px) {
  .three-card-grid-section .three-card-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  .three-card-grid-section .three-card-grid .grid-item {
    width: 100%;
  }
  .three-card-grid-section .three-card-grid .grid-item:nth-child(3) {
    grid-column: span 2;
    width: 50%;
    place-self: center;
  }
  .three-card-grid-section .three-card-grid .grid-item h3 {
    -webkit-margin-before: 1rem;
            margin-block-start: 1rem;
    -webkit-margin-after: 0.5rem;
            margin-block-end: 0.5rem;
  }
  .three-card-grid-section .three-card-grid .icon {
    width: 40px;
  }
}
@media (max-width: 350px) {
  .three-card-grid-section .three-card-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .three-card-grid-section .three-card-grid .grid-item:nth-child(3) {
    grid-column: span 2;
    width: 70%;
    place-self: center;
  }
  .three-card-grid-section .three-card-grid .grid-item h3 {
    -webkit-margin-before: 1rem;
            margin-block-start: 1rem;
    -webkit-margin-after: 0.5rem;
            margin-block-end: 0.5rem;
  }
}
@media (max-width: 338px) {
  .three-card-grid-section .three-card-grid {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .three-card-grid-section .three-card-grid .grid-item:nth-child(3) {
    grid-column: span 1;
    width: 70%;
    place-self: center;
  }
  .three-card-grid-section .three-card-grid .grid-item h3 {
    -webkit-margin-before: 1rem;
            margin-block-start: 1rem;
    -webkit-margin-after: 0.5rem;
            margin-block-end: 0.5rem;
  }
}

.overlap-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.overlap-card-grid .card-grid-item {
  position: relative;
}
.overlap-card-grid .card-grid-item:nth-child(1) {
  margin-right: -4rem;
  transform: translateY(2rem);
}
.overlap-card-grid .card-grid-item:nth-child(1)::after {
  content: "";
  width: 200%;
  position: absolute;
  inset: 0;
  z-index: 1000;
  background-image: linear-gradient(to top, #030303, rgba(3, 3, 3, 0) 25%);
}
.overlap-card-grid .card-grid-item:nth-child(2) {
  margin-left: -4rem;
}
.overlap-card-grid .card-grid-item:nth-child(2)::after {
  content: "";
  width: 200%;
  position: absolute;
  inset: 0;
  z-index: 1000;
  background-image: linear-gradient(to top, #030303, rgba(3, 3, 3, 0) 25%);
}
.overlap-card-grid .card-grid-item img {
  position: relative;
  width: 100%;
}
.overlap-card-grid .card-grid-item h3 {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  z-index: 1001;
  max-width: 16ch;
  text-align: left;
}
.overlap-card-grid .no-gradient::after {
  background-image: none !important;
}
@media (max-width: 700px) {
  .overlap-card-grid .card-grid-item h3 {
    position: absolute;
    bottom: 1rem;
    left: 1rem !important;
    z-index: 1001;
    max-width: 16ch;
    text-align: left;
  }
}

.two-columns-section {
  background-color: #151515;
}
.two-columns-section .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.two-columns-section .wrapper .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.two-columns-section .wrapper .column:nth-child(2) {
  border-left: 0.5px solid white;
}
.two-columns-section .wrapper .column p {
  margin-block: 1rem 2rem;
  max-width: 60ch;
  text-wrap: balance;
}
@media (max-width: 855px) {
  .two-columns-section .wrapper {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .two-columns-section .wrapper .column:nth-child(2) {
    border-left: none;
  }
  .two-columns-section .wrapper .column p {
    max-width: 40ch;
  }
}
@media (max-width: 402px) {
  .two-columns-section .wrapper .column {
    padding-inline: 0;
  }
}

.heritage-section {
  position: relative;
}
.heritage-section .background-rocks {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: -1;
  opacity: 0.2;
  -o-object-fit: cover;
     object-fit: cover;
}
.heritage-section .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;
}
.heritage-section .wrapper .restoration-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.heritage-section .wrapper .restoration-titles h2 {
  max-width: 20ch;
  text-align: center;
}
.heritage-section .wrapper .restoration-titles p {
  max-width: 56ch;
}

.restoration-section {
  position: relative;
}
.restoration-section .background-rocks {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: -1;
  opacity: 0.2;
  -o-object-fit: cover;
     object-fit: cover;
}
.restoration-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
.restoration-section .wrapper .restoration-titles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.restoration-section .wrapper .restoration-titles h2 {
  max-width: 16ch;
  text-align: center;
}
.restoration-section .wrapper .restoration-titles p {
  max-width: 56ch;
}

.seafront-sunday-section {
  position: relative;
  background-color: white;
}
.seafront-sunday-section .background-rocks {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.seafront-sunday-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seafront-sunday-section .wrapper h2 {
  max-width: 16ch;
  color: #030303;
}
.seafront-sunday-section .wrapper p {
  max-width: 60ch;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
  color: #030303;
}
.seafront-sunday-section .wrapper .double-button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.seafront-sunday-section .wrapper .secondary-button {
  color: #030303;
}

.contact-section {
  position: relative;
}
.contact-section .background-rocks-long {
  position: absolute !important;
  inset: 0;
  opacity: 0.2;
  z-index: -1;
}
.contact-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.contact-section .wrapper .contact-titles h2 {
  max-width: 16ch;
}
.contact-section .wrapper form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.contact-section .wrapper form fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
}
.contact-section .wrapper form fieldset label {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
}
.contact-section .wrapper form fieldset input,
.contact-section .wrapper form fieldset textarea {
  width: 100%;
  padding: 0.5rem;
  background: #151515;
  border: none;
  border-radius: 0.25rem;
}
.contact-section .wrapper form button {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
  align-self: start;
}
@media (max-width: 1024px) {
  .contact-section .wrapper form {
    width: 65%;
  }
}
@media (max-width: 500px) {
  .contact-section .wrapper form {
    width: 80%;
  }
}
@media (max-width: 350px) {
  .contact-section .wrapper form {
    width: 100%;
  }
}

footer {
  position: relative;
}
footer .background-rocks {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer p {
  font-size: 14px;
}
footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  -webkit-padding-after: 4rem;
          padding-block-end: 4rem;
}
footer .wrapper .footer-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .wrapper .footer-top .footer-top-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .wrapper .footer-top .footer-top-left p {
  text-align: left;
  max-width: 50ch;
}
footer .wrapper .footer-top .footer-top-left form {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  width: 450px;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}
footer .wrapper .footer-top .footer-top-left form fieldset {
  border: none;
  display: flex;
  width: 100%;
}
footer .wrapper .footer-top .footer-top-left form fieldset input {
  border-radius: 2rem;
  padding: 0.5rem;
  flex: 1;
}
footer .wrapper .footer-top .footer-top-left form fieldset button {
  margin-left: -8rem;
}
footer .wrapper .footer-top .footer-top-left > svg {
  width: 200px;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
footer .wrapper .footer-top .footer-top-right {
  flex: 1 1 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-self: flex-end;
}
footer .wrapper .footer-top .footer-top-right ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 1 0;
}
footer .wrapper .footer-bottom {
  -webkit-border-before: 0.5px solid white;
          border-block-start: 0.5px solid white;
  width: 100%;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 4rem;
}
footer .wrapper .footer-bottom a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
footer .wrapper .footer-bottom a svg {
  width: 150px;
}
@media (max-width: 1000px) {
  footer .footer-top {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 4rem;
    width: 100%;
  }
  footer .footer-top .footer-top-right {
    width: 500px;
    align-self: flex-start !important;
  }
}
@media (max-width: 531px) {
  footer .footer-top {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 4rem;
    width: 100%;
  }
  footer .footer-top .footer-top-left {
    width: 100% !important;
  }
  footer .footer-top .footer-top-left form {
    width: 100% !important;
  }
  footer .footer-top .footer-top-left form fieldset {
    width: 100% !important;
  }
  footer .footer-top .footer-top-right {
    width: 100%;
  }
}
@media (max-width: 384px) {
  footer .wrapper form {
    margin-block: 2rem !important;
  }
  footer .wrapper form fieldset {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  footer .wrapper form fieldset input {
    width: 100%;
    padding: 0.5rem 1rem !important;
  }
  footer .wrapper form fieldset button {
    margin: 0 !important;
    padding: 0.5rem 1rem;
    width: 100%;
  }
  footer .wrapper .footer-top .footer-top-left {
    align-items: center;
  }
  footer .wrapper .footer-top .footer-top-left > svg {
    -webkit-margin-after: 3rem !important;
            margin-block-end: 3rem !important;
  }
  footer .wrapper .footer-top .footer-top-left p {
    text-align: center;
    max-width: 35ch;
    text-wrap: balance !important;
  }
  footer .wrapper .footer-top .footer-top-right {
    grid-template-columns: 1fr !important;
    place-items: center;
  }
  footer .wrapper .footer-top .footer-top-right ul {
    text-align: center;
    align-items: center;
    gap: 2rem;
  }
  footer .wrapper .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  footer .wrapper .footer-bottom a {
    align-items: center;
  }
}

.contact-information-section .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  row-gap: 4rem;
}
.contact-information-section .wrapper .contact-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  place-self: center;
}
.contact-information-section .wrapper .contact-grid-item h3 {
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
}
.contact-information-section .wrapper .contact-grid-item:nth-child(3) {
  grid-column: span 2;
  width: 50%;
}
.contact-information-section .wrapper .contact-grid-item:nth-child(2) {
  margin-top: 1.4rem;
}
.contact-information-section .wrapper .contact-grid-item a {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  color: white;
  font-size: 14px !important;
  text-align: center;
}
.contact-information-section .wrapper .contact-grid-item a#location {
  max-width: 12ch;
  text-wrap: balance;
}
.contact-information-section .wrapper .contact-grid-item a p {
  font-size: 14px !important;
}
@media (max-width: 1024px) {
  .contact-information-section .wrapper {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media (max-width: 384px) {
  .contact-information-section .wrapper {
    grid-template-columns: 1fr;
  }
  .contact-information-section .wrapper .contact-grid-item:nth-child(2) {
    margin-top: 0rem;
  }
  .contact-information-section .wrapper .contact-grid-item:nth-child(3) {
    grid-column: 1;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */