@font-face {
  font-family: baron;
  src: url(../Baron-Neue-Black.ttf);
  font-weight: 700;
}
@font-face {
  font-family: baron;
  src: url(../Baron-Neue.ttf);
  font-weight: 400;
}
@font-face {
  font-family: inter;
  src: url(../Inter-Regular.ttf);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
  scroll-behavior: auto;
}

body {
  color: #ffffff;
  overflow-x: hidden;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: #030303 !important;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 8rem 4rem;
}
section .wrapper.wrapper-narrow,
main .wrapper.wrapper-narrow,
header .wrapper.wrapper-narrow,
footer .wrapper.wrapper-narrow {
  padding: 8rem 12rem;
}
@media (max-width: 1250px) {
  section .wrapper-narrow,
  main .wrapper-narrow,
  header .wrapper-narrow,
  footer .wrapper-narrow {
    padding-inline: 8rem !important;
  }
}
@media (max-width: 1125px) {
  section .wrapper-narrow,
  main .wrapper-narrow,
  header .wrapper-narrow,
  footer .wrapper-narrow {
    padding-inline: 6rem !important;
  }
}
@media (max-width: 1050px) {
  section .wrapper-narrow,
  main .wrapper-narrow,
  header .wrapper-narrow,
  footer .wrapper-narrow {
    padding-inline: 4rem !important;
  }
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem !important;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem !important;
  }
}

.word,
.line,
.char {
  flex-wrap: none !important;
}

html,
body {
  overflow-x: hidden !important;
}

h1 {
  font-size: 48px;
  color: #030303;
  line-height: 1.2;
  text-align: center;
  font-family: baron;
}
h1 span {
  color: 1.2;
  text-align: center;
  font-family: baron;
}
h1 .char,
h1 .word,
h1 .line {
  font-size: 48px;
  color: #030303;
  line-height: 1.2;
  text-align: center;
  font-family: baron;
}

h2 {
  font-size: 40px;
  color: #030303;
  line-height: 40px;
  text-align: center;
  font-family: baron;
}
h2 span {
  color: #31871D;
  text-align: center;
  font-family: baron;
}
h2.h2 {
  max-width: 16ch;
  font-size: clamp(32px, 3.5vw, 40px) !important;
  line-height: clamp(38.4px, 4.2vw, 48px) !important;
}

h3 {
  font-size: 24px;
  color: #030303;
  line-height: 24px;
  text-align: center;
  font-family: baron;
}
h3 span {
  color: #31871D;
  text-align: center;
  font-family: baron;
}

p {
  font-size: 16px;
  color: #030303;
  line-height: 25.6px;
  text-align: center;
  font-weight: 300;
  font-family: Arial !important;
}
p.tagline {
  font-size: 14px;
  line-height: 22.4px;
  text-align: center;
  font-family: baron !important;
}
p.h0 {
  font-size: clamp(150px, 18vw, 300px) !important;
  font-family: baron;
  font-weight: 900;
  opacity: 3%;
  position: absolute;
  bottom: 0%;
}
@media (max-width: 700px) {
  p.h0 {
    font-size: clamp(75px, 18vw, 150px) !important;
  }
}
p .char,
p .word,
p .line {
  font-size: 16px;
  color: #030303;
  line-height: 22.4px;
  text-align: center;
}

h1 .word {
  overflow-y: hidden;
}
h1 .word .char {
  font-family: baron;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}

@media (max-width: 1024px) {
  h2.h2 {
    max-width: 16ch;
    font-size: clamp(24px, 3.5vw, 32px) !important;
    line-height: clamp(28.8px, 4.2vw, 38.4px) !important;
  }
}
@media (max-width: 855px) {
  h2.h2 {
    font-size: 32px !important;
    line-height: 38.4px !important;
  }
}
@media (max-width: 700px) {
  .wrapper p {
    font-size: 14px;
    line-height: 22.4px !important;
  }
  .wrapper p .char,
  .wrapper p .word,
  .wrapper p .line {
    font-size: 14px !important;
    line-height: 19.6px !important;
  }
  .wrapper h1 {
    font-size: clamp(28px, 8vw, 40px);
    line-height: clamp(33.6px, 12vw, 48px);
  }
  .wrapper h1 .char,
  .wrapper h1 .word,
  .wrapper h1 .line {
    font-size: clamp(28px, 8vw, 40px);
    line-height: clamp(28px, 10vw, 40px);
  }
  .wrapper h2 {
    font-size: 32px;
    line-height: 38.4px;
  }
  .wrapper h3 {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 700px) and (max-width: 468px) {
  h2.h2 {
    font-size: clamp(22.4px, 8.25vw, 32px) !important;
    line-height: clamp(28.8px, 4.2vw, 38.4px) !important;
  }
}
button {
  padding: 0.75rem 1rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 2rem;
  font-family: baron;
  z-index: 100;
}
button:hover .slider .slide {
  transform: translateY(-0.9rem);
  transition: transform 200ms ease-in-out;
}
button .slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  max-height: 0.9rem;
}
button .slider .slide {
  font-family: baron;
  font-size: 14px;
  transition: transform 200ms ease-out;
}
button.primary-button {
  color: #ffffff;
  background-color: #31871D;
  border: 2px solid #31871D;
}
button.secondary-button {
  color: #31871D;
  background-color: transparent;
  border: 2px solid #31871D;
}
button span {
  display: flex;
  align-items: center;
  justify-content: center;
}
button span:nth-child(2) {
  font-family: baron;
}
@media (max-width: 500px) {
  button.primary-button {
    color: #ffffff;
    background-color: #31871D;
    border: 2px solid #31871D;
  }
  button.secondary-button {
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #31871D;
    padding: 1rem;
  }
}

header {
  position: fixed;
  z-index: 1000;
}
header .header-wrapper {
  padding: 1rem 4rem;
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-wrapper .header-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .header-wrapper > a .svg-colour {
  width: 150px !important;
}
header .header-wrapper ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .header-wrapper ul li {
  color: #030303;
}
header .header-wrapper .nav-button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .header-wrapper .menu {
  display: none;
  width: 40px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  header nav {
    display: none;
  }
  header .nav-button-container {
    display: none !important;
  }
  header .menu {
    display: block !important;
  }
  header .header-wrapper {
    justify-content: space-between;
  }
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem;
  }
}

.dropdown {
  position: relative !important;
  display: none;
  z-index: 1000 !important;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 0.5rem);
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: -moz-max-content;
  width: max-content;
  opacity: 0;
  transform: translateY(-1rem);
  transition: opacity 0.5s, transform 0.5s;
  pointer-events: none;
  gap: 2rem;
  border-radius: 0.5rem;
}

.dropdown-heading > a {
  font-weight: 700 !important;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.dropdown-links a {
  font-weight: 300 !important;
}

.div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu {
  width: 30px;
  display: none;
  cursor: pointer;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  transition: opacity 0.5s, transform 0.5s;
}

.menu + .dropdown-menu {
  padding-block: 2rem;
  display: none;
}

.dropdown-heading > p {
  font-weight: 700 !important;
}

.dropdown > a {
  font-weight: 300 !important;
}

@media (max-width: 1000px) {
  nav ul {
    display: none;
  }
  .dropdown {
    display: block;
  }
  .menu + .dropdown-menu {
    padding-block: 2rem;
    display: grid;
  }
  .menu {
    display: block;
  }
  nav {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 500px) {
  .header-wrapper {
    padding-inline: 1rem;
  }
  .dropdown-menu {
    grid-template-columns: 1fr;
  }
}
main {
  overflow: hidden !important;
  max-height: 1000px !important;
  position: relative;
}
main .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block-start: 12rem;
  padding-block-end: 14rem;
  overflow: hidden !important;
  position: relative;
}
main .wrapper h1 {
  max-width: 32ch;
}
main .wrapper p {
  max-width: 45ch;
  margin-block-start: 1rem;
  margin-block-end: 2rem;
  text-wrap: balance;
}
@media (max-width: 500px) {
  main .wrapper .svg-wrapper svg {
    width: 28rem;
    width: max(16rem, 80vw);
    max-width: 650px;
  }
}

.images-section {
  margin-top: -18rem;
}
.images-section .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  padding-inline: 0 !important;
}
.images-section .wrapper img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .images-section .wrapper {
    gap: 1rem !important;
  }
}
@media (max-width: 800px) {
  .images-section .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 325px) {
  .images-section .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.big-text .wrapper {
  padding-block: 0;
}
.big-text .wrapper h2 {
  font-size: clamp(4rem, 10vw, 10rem);
  line-height: 1;
  text-align: left;
}
@media (max-width: 325px) {
  .big-text .wrapper h2 {
    font-size: clamp(3rem, 10vw, 4rem);
  }
}

.green-section {
  background-color: #31871D;
  color: white;
  position: relative;
  z-index: 0;
}
.green-section .wrapper {
  padding-block: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.green-section .wrapper h2 {
  color: white;
  max-width: 32ch;
}
.green-section .wrapper .badge {
  opacity: 0.1;
  position: absolute;
  width: 300px;
  z-index: -1;
}

.full-section .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 0 !important;
  padding-top: 0;
}
.full-section .wrapper .full-left {
  background-image: linear-gradient(rgba(3, 3, 3, 0.2980392157), rgba(3, 3, 3, 0.2980392157)), url(../public/images/beach-clean.png);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  max-height: 90vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 2rem;
  padding-inline: 4rem;
}
.full-section .wrapper .full-left h2 {
  color: white;
  text-align: left;
}
@media (max-width: 700px) {
  .full-section .wrapper .full-left {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  .full-section .wrapper .full-left {
    padding-inline: 1rem;
  }
}
.full-section .wrapper .full-right {
  background-image: linear-gradient(rgba(3, 3, 3, 0.2980392157), rgba(3, 3, 3, 0.2980392157)), url(../public/images/seafront-sunday.png);
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  max-height: 90vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 2rem;
  padding-inline: 4rem;
}
.full-section .wrapper .full-right h2 {
  color: white;
  text-align: left;
}
@media (max-width: 700px) {
  .full-section .wrapper .full-right {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  .full-section .wrapper .full-right {
    padding-inline: 1rem;
  }
}
@media (max-width: 500px) {
  .full-section .wrapper {
    grid-template-columns: 1fr;
  }
}

.bullet-point-section {
  background-image: url(../public/images/guernsey-map.png);
  background-size: cover;
  background-position: center;
}
.bullet-point-section .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.bullet-point-section .wrapper .bullet-point-left h2 {
  text-align: left;
  max-width: 26ch;
}
.bullet-point-section .wrapper .bullet-point-left p {
  text-align: left;
  max-width: 60ch;
  margin-block: 1rem 3rem;
}
.bullet-point-section .wrapper .bullet-point-left .small-images {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: auto;
  max-width: 75%;
}
.bullet-point-section .wrapper .bullet-point-right {
  display: grid;
  gap: 4rem;
}
.bullet-point-section .wrapper .bullet-point-right .bullet-point-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.bullet-point-section .wrapper .bullet-point-right .bullet-point-item h3 {
  text-align: left;
}
.bullet-point-section .wrapper .bullet-point-right .bullet-point-item p {
  text-align: left;
  max-width: 40ch;
  margin-block-start: 1rem;
}
@media (max-width: 1125px) {
  .bullet-point-section .wrapper .bullet-point-right {
    gap: 2rem;
  }
}
@media (max-width: 1024px) {
  .bullet-point-section .wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
  }
}

.two-columns-section {
  background-color: #ffffff;
  position: relative;
}
.two-columns-section .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.two-columns-section .wrapper .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem;
}
.two-columns-section .wrapper .column:nth-child(1) {
  padding-right: 2rem;
}
.two-columns-section .wrapper .column:nth-child(2) {
  border-left: 0.5px solid #030303;
  padding-left: 2rem;
}
.two-columns-section .wrapper .column h2 {
  color: #030303;
}
.two-columns-section .wrapper .column p {
  margin-block: 1rem 2rem;
  max-width: 48ch;
  text-wrap: balance;
  color: #030303;
}
@media (max-width: 855px) {
  .two-columns-section .wrapper {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .two-columns-section .wrapper .column:nth-child(1) {
    padding-right: 0rem;
  }
  .two-columns-section .wrapper .column:nth-child(2) {
    border-left: none;
    padding-left: 0rem;
  }
  .two-columns-section .wrapper .column p {
    max-width: 40ch;
  }
}
@media (max-width: 402px) {
  .two-columns-section .wrapper .column {
    padding-inline: 0;
  }
}

.video-section .wrapper {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 900px) {
  .video-section .wrapper {
    grid-template-columns: 1fr;
  }
}
.video-section .wrapper .video-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.video-section .wrapper .video-title h2 {
  max-width: 24ch;
  text-align: left;
}
.video-section .wrapper .video-title p {
  max-width: 60ch;
  text-align: left;
}
.video-section .wrapper video {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  scale: 0.5;
  opacity: 0;
  overflow: hidden !important;
}

.green-services-section {
  background-color: #31871D;
  background-image: url(../public/images/big-guernsey-flag.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.green-services-section .wrapper {
  display: grid;
  gap: 4rem;
}
.green-services-section .wrapper .green-services-title h2 {
  text-align: left;
  max-width: 20ch;
  color: white;
}
.green-services-section .wrapper .green-services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 600px) {
  .green-services-section .wrapper .green-services-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media (max-width: 384px) {
  .green-services-section .wrapper .green-services-grid {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}
@media (max-width: 369px) {
  .green-services-section .wrapper .green-services-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.green-services-section .wrapper .green-services-grid .green-services-card {
  padding: 2rem;
  background-color: #5DAC4B;
}
@media (max-width: 831px) {
  .green-services-section .wrapper .green-services-grid .green-services-card {
    padding: 1rem;
  }
}
.green-services-section .wrapper .green-services-grid .green-services-card h3 {
  text-align: left;
  color: white;
  margin-block: 0.5rem 1rem;
}
.green-services-section .wrapper .green-services-grid .green-services-card p {
  text-align: left;
  color: white;
}

.testimonials-section {
  background-image: linear-gradient(rgba(3, 3, 3, 0.3137254902), rgba(3, 3, 3, 0.3137254902)), url(../public/images/guernsey-harbour.png);
  background-size: cover;
}
.testimonials-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10rem;
  padding-bottom: 2rem;
}
.testimonials-section .wrapper .testimonials-title h2 {
  color: white;
  text-align: left;
  max-width: 28ch;
}
.testimonials-section .wrapper .testimonials-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 60%;
  align-self: flex-end;
}
.testimonials-section .wrapper .testimonials-grid .testimonials-card {
  background-color: rgba(253, 252, 252, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 1rem;
}
.testimonials-section .wrapper .testimonials-grid .testimonials-card .profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.testimonials-section .wrapper .testimonials-grid .testimonials-card .profile p {
  color: white;
  text-align: left;
  font-weight: 500;
  line-height: 1.2 !important;
}
.testimonials-section .wrapper .testimonials-grid .testimonials-card .profile img {
  width: 50px;
  border-radius: 50%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials-section .wrapper .testimonials-grid .testimonials-card p {
  color: white;
  text-align: left;
  margin-block: 1rem;
}
@media (max-width: 1024px) {
  .testimonials-section .wrapper .testimonials-grid {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .testimonials-section .wrapper {
    gap: 4rem;
  }
  .testimonials-section .wrapper .testimonials-grid {
    width: 100%;
    gap: 1rem;
  }
}
@media (max-width: 384px) {
  .testimonials-section .wrapper .testimonials-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.feature-walls-section .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.feature-walls-section .wrapper .feature-walls-grid-item {
  height: 100%;
}
.feature-walls-section .wrapper .feature-walls-grid-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.feature-walls-section .wrapper .feature-walls-grid-item:first-child {
  margin-block: auto;
}
.feature-walls-section .wrapper .feature-walls-grid-item:first-child h2 {
  text-align: left;
  max-width: 24ch;
}
.feature-walls-section .wrapper .feature-walls-grid-item:first-child p {
  text-align: left;
  max-width: 60ch;
  margin-block-end: 2rem;
}
.feature-walls-section .wrapper .feature-walls-grid-item:first-child p.subline {
  font-size: 24px;
  text-transform: uppercase;
  margin-block: 1rem 2rem;
}
@media (max-width: 1024px) {
  .feature-walls-section .wrapper {
    grid-template-columns: 1fr;
  }
}

.boards-section {
  background-image: linear-gradient(rgba(3, 3, 3, 0.3882352941), rgba(3, 3, 3, 0.3882352941)), url(../public/images/boards-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.boards-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding-block-end: 2rem !important;
}
.boards-section .wrapper .boards-title {
  display: grid;
  place-items: center;
}
.boards-section .wrapper .boards-title h2 {
  color: white;
  max-width: 28ch;
}
.boards-section .wrapper .boards-title p {
  color: white;
  margin-block: 1rem 2rem;
  max-width: 60ch;
}
.boards-section .wrapper .boards-images {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 600px) {
  .boards-section .wrapper .boards-images {
    flex-direction: column;
    width: 100%;
  }
}

.cta-section {
  background-image: url(../public/images/guernsey-flag-cta.png);
  height: 90vh;
  background-size: cover;
  background-position: center;
  max-height: 825px;
}
.cta-section .wrapper {
  display: grid;
  place-items: center;
}
.cta-section .wrapper h2 {
  max-width: 24ch;
  margin-block-end: 2rem;
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
footer .wrapper .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  padding-block-end: 4rem;
}
footer .wrapper .footer-top ul {
  color: black;
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .wrapper .footer-top a svg {
  width: 200px;
}
footer .wrapper .footer-bottom {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  justify-content: space-between;
  border-top: 1px solid black;
  padding-block-start: 4rem;
}
footer .wrapper .footer-bottom a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  justify-content: flex-end;
}
footer .wrapper .footer-bottom p {
  font-size: 14px;
  line-height: 1;
}

.header-wrapper {
  padding-inline: 12rem !important;
}

@media (max-width: 1250px) {
  .header-wrapper {
    padding-inline: 8rem !important;
  }
}
@media (max-width: 1125px) {
  .header-wrapper {
    padding-inline: 6rem !important;
  }
}
@media (max-width: 1050px) {
  .header-wrapper {
    padding-inline: 4rem !important;
  }
}
@media (max-width: 700px) {
  .header-wrapper {
    padding-inline: 2rem !important;
  }
}
@media (max-width: 500px) {
  .header-wrapper {
    padding-inline: 1rem !important;
  }
}
section {
  overflow: hidden !important;
}

main {
  height: 100svh;
  max-height: 1000px !important;
}

body {
  background-color: #ffffff;
  position: relative;
}
body > img {
  position: absolute;
  mix-blend-mode: multiply;
  opacity: 0.05;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.noise {
  position: absolute;
  mix-blend-mode: multiply;
  opacity: 0.05;
  height: 100%;
  border: 2px red;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */