@use "./variables";
@use "./reset";
@use "./fonts";
@use "./button";
@use "./header";
@use "./dropdown";
@use "./main";
@use "./big-text";
@use "./green";
@use "./full";
@use "./bullet-point";
@use "./two-columns";
@use "./video";
@use "./green-services";
@use "./testimonials";
@use "./feature-walls";
@use "./boards";
@use "./cta";

.header-wrapper {
    padding-inline:12rem !important;
}

@media (max-width:1250px) {
    .header-wrapper {
        padding-inline:8rem !important;
    }
}
@media (max-width:1125px) {
    .header-wrapper {
        padding-inline:6rem !important;
    }
}
@media (max-width:1050px) {
    .header-wrapper {
        padding-inline:4rem !important;
    }
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem !important;
    }
}
@media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem !important;
    }
}


section {
    overflow:hidden !important;
}

main {
    height:100svh;
    max-height:1000px !important;
}

body {
    background-color:variables.$white;
    position:relative;
    & > img {
        position:absolute;
        mix-blend-mode:multiply;
        opacity:0.05;
        height:100%;
        width:100%;
        object-fit:cover;
        pointer-events:none;

    }
}

.noise {
    position:absolute;
    mix-blend-mode:multiply;
    opacity:0.05;
    height:100%;
    border:2px  red;
    width:100%;
    object-fit:cover;
    pointer-events:none;
    z-index:-1;

}